{% extends "base.html" %}

{% block content %}
<div class="text-center py-5">
    <h1 class="display-5 fw-bold">
        Welcome to MyTOTPApp
    </h1>
    <p class="lead mt-3">
        Generate secure, time-based one-time passwords (TOTP) for your account.
    </p>
    <div class="mt-4">
        <a href="{{ url_for('register') }}" class="btn btn-primary btn-lg mb-3">register a new user</a>
        <a href="{{ url_for('login') }}" class="btn btn-primary btn-lg mb-3">Login</a>
    </div>
    <div>
        Already registered? Login and scan your QR code in Google Authenticator or another TOTP App.
    </div>
</div>
{% endblock %}